  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }

  .provider-app {
    height: 100vh;
  }

  .button {
    margin-bottom: 0; 
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: #039DD2;
    border-radius: 5px;
    color: white;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  .provider-button {
    margin-bottom: 0; 
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background: #039DD2;
    border-radius: 5px;
    color: white;
    border: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0%;
  }
